.howTo__text {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-left: 120px;
}


@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 991px) {
  .howTo__text {
    padding-left: 20px;
    gap: 20px;
  }
}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 576px) {

}

@media screen and (max-width: 420px) {

}
