.merchantsGrid__grid {
  display: grid;
  gap: 12px;
  grid-template-columns: repeat( auto-fill, minmax(190px, 1fr) );
}

.merchantsGrid__grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 24px;
  background-color: #fff;
}

.merchantsGrid__grid-item-img {
  max-width: 142px;
  width: 100%;
}


@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 991px) {

}

@media screen and (max-width: 768px) {
  .merchantsGrid__grid {
    grid-template-columns: repeat( auto-fill, minmax(142px, 1fr) );
  }
}

@media screen and (max-width: 576px) {

}

@media screen and (max-width: 420px) {

}
