.pagination {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 40px;
}

.pagination__page {
  font-size: 15px;
  font-weight: 600;
  color: #909090;
  transition: all .2s ease-in-out;
}

.pagination__page:hover {
  color: #333333;
}

.pagination__page--current {
  color: #333333;
}

.pagination__nextPage path {
  transition: all .2s ease-in-out;
}

.pagination__nextPage:hover path {
  fill: #333333;
}


@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 991px) {

}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 576px) {

}

@media screen and (max-width: 420px) {

}
